.title {
  text-align: center;
  margin-top: 50px;
}

.link {
  cursor: pointer;
  border: 0px;
  font-size: 2rem;
  display: block;
  margin: 20px auto;
  width: 130px;
  height: 80px;
  background-color: rgb(26, 26, 26);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}